<?php

return array (
  'file_map' =>
  array (),
  'db' =>
  array (
    'hostname' => '127.0.0.1',
    'username' => 'root',
    'password' => 'root',
    'database' => 'maitred',
  ),
  'serve_all' => true,
);