<?php

return [
    'file_map' => [
        'webhook' => [
            'response_code' => 200,
            'file' => 'webhook.php',
            'track' => true
        ]
    ],
    'db' => [
        'hostname' => '127.0.0.1',
        'username' => 'root',
        'password' => 'root',
        'database' => 'maitred',
    ],
    'serve_all' => true,
    'admin_token' => '667ff118ef6d196c96313aeaee7da519'
];